<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form method="post" th:action="@{/admin/index}" th:object="${user}">
    <table>
        <tr>
            <td><label>First name: </label> </td>
            <td><input name="firstName" type="text" th:field="*{firstName}" required="required"/></td>
        </tr>

        <tr>
            <td><label>Last name: </label></td>
            <td><input name="lastName" type="text" th:field="*{lastName}" required="required"/></td>
        </tr>
        <tr>
            <td><label>User Role: </label></td>
            <td><select multiple size="2" name="role" >
                    <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                    <option selected="selected" value="ROLE_USER">ROLE_USER</option>
                </select></td>
        </tr>

        <tr>
            <td><label for="email">Username: </label></td>
            <td><input name="email" type="text" th:field="*{username}" id="email"/></td>
        </tr>

        <tr>
            <td><label>Password: </label></td>
            <td><input name="password" type="text" th:field="*{password}" required="required"/></td>
        </tr>

    </table>
    <input type="submit" value="Create"/>
</form>

</body>
</html>